<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
	<strong>Description:</strong>
	<%= @user.description %>
</p>

<%= link_to "Users", :controller => "users" %>